exportPattern("^[[:alpha:]]+")
import(parallel)
import(survival)
import(MASS)

importFrom("graphics", "par")
importFrom("methods", "is")
importFrom("stats", "approx", "approxfun", "dnorm", "ecdf", "integrate", "model.frame",
           "model.matrix", "model.response", "predict", "qnorm",
           "quantile", "rbinom", "residuals", "rexp", "runif", "uniroot", "vcov")

S3method(ibs, coxph)
S3method(ibs, default)
S3method(ibs, lple)
S3method(ibs, Surv)

S3method(lplb, default)
S3method(lplb, formula)

S3method(lple, default)
S3method(lple, formula)

S3method(print, lplb)
S3method(print, lple)

S3method(plot, lple)

S3method(predict, lple)

S3method(rmst, coxph)
S3method(rmst, default)
S3method(rmst, Surv)

S3method(residuals, lple)
S3method(survfit, lple)
